.change_location_section {
    position: absolute;
    background: white;
}

.change_location_input {
    width: 40em;
    border: 2px solid black;
    margin: 6px;
    border-radius: 5px;
    transition: 0.3s;
}

.change_location_ul {
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
}

.change_location_li {
    list-style-type: none;
    height: 40px;
    padding: 6px;
    border-radius: 5px;
    transition: 0.3s;
}

.change_location_li:hover {
    background-color: #08eb40;

}

input:focus,
input:hover {
    border: 2px solid lime;
    outline: none;
    -webkit-appearance: none;
}