@import url('https://fonts.googleapis.com/css?family=Play|Poller+One&display=swap');

header {
    font-family: 'Play', sans-serif;
    padding: 30px;
    text-align: center;
    background: #db1507;
    color: white;
    font-size: 1.5em;
}
  
header h1 {
    font-family: 'Poller One', sans-serif;
}

#navbar {
    display: inline;
    list-style-type: none;
}
  
#navbar li {
    float: left;
}
  
#navbar li a {
    display: block;
    padding: 0em 1em 0em 1em;
    color: white;
    text-decoration: none;
}
  
#navbar li a:hover {
    color:#dddddd
}
